/********************
    GLOBAL
********************/

html, body {
  width  : 100%;
  height : 100%;
}

html {
  background : #1BB8BF; /* Old browsers */
  background : -moz-radial-gradient(center, ellipse cover, #1BB8BF 0%, #0080C9 100%); /* FF3.6-15 */
  background : -webkit-radial-gradient(center, ellipse cover, #1BB8BF 0%, #0080C9 100%); /* Chrome10-25,Safari5.1-6 */
  background : radial-gradient(ellipse at center, #1BB8BF 0%, #0080C9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bb8bf', endColorstr='#0080c9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

body {
  background      : url(salah.com.bg.png) no-repeat top center;
  background-size : auto 50%;
  font            : 16px Nunito;
  text-transform  : uppercase;
}

h1 {
  color       : #FFF;
  font-size   : 60px;
  font-weight : lighter;
}

h2 {
  font-size     : 32px;
  color         : #FFF;
  font-weight   : lighter;
  border-bottom : 1px #76EEF7 solid;
  display       : inline-block;
  padding       : 0 40px 10px 25px;
  position      : relative;
}

h3 {
  font-size      : 28px;
  color          : #FFF;
  display        : block;
  text-align     : center;
  text-transform : none;
  padding        : 20px 0 0;
}

h4 {
  font-size      : 16px;
  color          : #AAFFF4;
  display        : block;
  text-align     : center;
  text-transform : none;
  padding        : 10px 0 0;
  font-weight    : lighter;
}

h4 span {
  font-weight  : bold;
  color        : #48D9E4;
  margin-right : 5px;
}

a {
  color           : #666;
  text-decoration : none;
}

a:hover {
  color : #0284C8;
}

img {
  height   : 24px;
  margin   : 9px 0 0;
  cursor   : pointer;
  position : absolute;
  right    : 0;
}

img:hover {
  height : 28px;
  margin : 7px -2px 0 0;
}

/********************
    NAVIGATION
********************/

nav ul {
  text-align : right;
  padding    : 20px;
}

nav li {
  padding : 5px 10px;
  margin  : 0 2px 0 0;
  float   : none;
  display : inline-block;
}

nav li.active {
  color       : #0284C8;
  font-weight : bolder;
}

/********************
    MAIN
********************/

#main {
  text-align : center;
  position   : relative;
  top        : 20%;
}

/********************
    FOOTER
********************/

#footer {
  text-align : center;
  color      : #32C8D4;
  padding    : 70px 0 50px;
  font-size  : 14px;
}

/********************
    PRAYER TIMES
********************/

dl#times {
  overflow : hidden;
  margin   : 60px 0 45px;
}

#times dt,
#times dd {
  width       : 49%;
  float       : left;
  height      : 57px;
  line-height : 33px;
  font-size   : 32px;
  font-weight : lighter;
  color       : #FFF;
}

#times dt {
  clear        : both;
  margin-right : 10px;
  text-align   : right;
}

#times dd {
  overflow   : hidden;
  text-align : left;
}

#times dd span {
  color         : #AAFFF4;
  display       : block;
  float         : left;
  width         : 100px;
  font-size     : 38px;
  text-align    : right;
  padding-right : 25px;
}

#times dd.sp span {
  color : #48D9E4;
}

#times dt.sp,
#times dd.sp {
  color : #7BF2FB;
}

/********************
    ERROR
********************/

dl#error {
  text-transform : none;
  color          : #FFF;
  text-align     : left;
  width          : 960px;
  margin         : 0 auto;
}