@media screen and (max-width : 1600px) {
  #main {
    zoom : .7;
  }
}

@media screen and (max-width : 800px) {
  #main {
    zoom : .6;
  }

  nav ul {
    zoom        : .9;
    text-align  : center;
    padding-top : 10px;
  }

  dt, dd {
    width : 45%;
  }
}

@media screen and (min-width : 800px) and (max-height : 400px) {
  body {
    background-size : auto 90%;
  }
}

@media screen and (min-width : 1600px) and (max-height : 500px) {
  body {
    background-size : auto 70%;
  }
}